html{
  height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background: linear-gradient(lightblue, lightgreen);
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    width: 80%;
    margin-right: 1em;
    margin-left: 1em;
  }
  /* Added flexbox display to header to keep the button from moving other elements on click*/
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p, h1{
    margin: .5em;
  }
  h1{
    padding-top: 1em;
    font-weight: bold;
    font-size: 48px;
  }
  .timeSlot{
   flex-grow: 1;
   text-align: center;
  }
  .stickywrapper{
    height: 100%;
  }
  .bar{
    position: sticky;
    top: 0;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightblue;
    height: 60px;
    width: 100%;
    border-top: solid 3px rgb(70, 70, 70);
    border-bottom: solid 3px rgb(70, 70, 70);
    box-shadow: 0 0 2px rgb(0, 0, 0);
    justify-content: flex-end;
  }
  .inactive{
    display: none;
  }
  .row{
    display: flex;
    color: lightblue;
    font-size: 24px;
    font-weight: bold;
    padding-left: 1.5em;
    padding-right: 1.5em;
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
    align-items: center;
    justify-content: space-between;
  }
  /* Added button styling, hover and active effects */
  #btn{
    outline: none;
    border: none;
    padding: 1em;
    margin: 2em;
    margin-bottom: 5em;
    border-radius: 1px;
    text-transform: uppercase;
    background-color: lightgray;
    color: rgb(82, 87, 86);
    font-weight: bold;
    box-shadow: 0 0 2px rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.1s ease-in-out;
  }
  #btn:hover{
    border-radius: 1px;
    background-color: lightblue;
    box-shadow: 0 0 5px rgb(198, 246, 255) inset,
    0 0 10px rgb(198, 246, 255) inset,
    0 0 15px rgb(198, 246, 255) inset; 
  }
  #btn:active{
    transform: scale(99%);
    opacity: 70%;
    transition: none;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    /* border-bottom: 10px solid black; */
    /* padding-bottom: 1em; */
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  .reset, .saveAll, .clearAll{
    
    flex-basis: 150px;
    height: 50%;
    border: none;
    border-style: none;
    outline: none;
    border-radius: 1px;
    background-color: lightgray;
    color: rgb(82, 87, 86);
    font-weight: bold;
    box-shadow: 0 0 2px rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.1s ease-in-out;
  }
  .clearAll{
    margin-right: 2em;
  }
  .reset{
    margin-right: auto;
    margin-left: 2em;
  }
  .saveAll{
    order: 3;
    margin-right: 2em;
  }
  .reset:hover, .saveAll:hover, .clearAll:hover{
    background-color: lightblue;
    box-shadow: 0 0 5px rgb(198, 246, 255) inset,
    0 0 10px rgb(198, 246, 255) inset,
    0 0 15px rgb(198, 246, 255) inset;
    border-radius: 1px; 
  }
  .reset:active, .saveAll:active, .clearAll:active{
    transform: scale(99%);   
    opacity: 70%;
    transition: none;
  }
  .saveButtons {
    border: none;
    border-style: none;
    outline: none;
    border-radius: 1px;
    background-color: lightgray;
    color: rgb(82, 87, 86);
    font-weight: bold;
    box-shadow: 0 0 1px rgb(0, 0, 0);
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
  }
  
  .saveButtons:hover {
    border-radius: 1px;
    background-color: lightblue;
    box-shadow: 0 0 5px rgb(198, 246, 255) inset,
    0 0 10px rgb(198, 246, 255) inset,
    0 0 15px rgb(198, 246, 255) inset;  
  }
  .saveButtons:active{
    transform: scale(99%);   
    opacity: 70%;
    transition: none;
  }
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
    
